# Configuración del Servidor
SERVER_PORT=8080

# Configuración de Base de Datos SQLite
DB_URL=jdbc:sqlite:data/app.db
DB_DRIVER=org.sqlite.JDBC
DB_USERNAME=
DB_PASSWORD=

# Configuración JPA/Hibernate
DDL_AUTO=update
SHOW_SQL=true

# Nivel de Logs
LOG_LEVEL=DEBUG

# Google Cloud Storage
GCP_PROJECT_ID=
GCP_BUCKET_NAME=
GCP_STORAGE_BASE_URL=

# Configuración CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:5173

# KAFKA - Cloud Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_SERVICE_EVENTS=service-events
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_JAAS_CONFIG=
KAFKA_SESSION_TIMEOUT_MS=45000

# ALGOLIA
ALGOLIA_APPLICATION_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_NAME=

# BACKEND JAVA
JWT_SECRET=secreto-super-seguro
GCP_PROJECT_ID=gcp-project-id
GCP_BUCKET_NAME=bucket-name
