spring:
  application:
    name: hexagonal-template

  # Configuración de la base de datos SQLite
  datasource:
    url: ${DB_URL:jdbc:sqlite:data/app.db}
    driver-class-name: ${DB_DRIVER:org.sqlite.JDBC}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}

  # Configuración de JPA/Hibernate
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: ${DDL_AUTO:create-drop}  # Crea las tablas al iniciar, las elimina al cerrar
    show-sql: ${SHOW_SQL:true}  # Muestra las queries SQL en la consola
    properties:
      hibernate:
        "[format_sql]": true  # Formatea las queries para mejor legibilidad



# Configuración del servidor
server:
  port: ${SERVER_PORT:8080}
  error:
    include-message: always
    include-binding-errors: always

# Logs
logging:
  level:
    "[live.servi]": ${LOG_LEVEL:DEBUG}
    "[org.springframework.web]": INFO
    "[org.hibernate.SQL]": DEBUG

jwt:
  secret: ${JWT_SECRET:mi-secreto-super-seguro}
  expiration: ${JWT_EXPIRATION:3600000} # 1 hora en milisegundos